@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  min-height: 100vh;
  padding: 0 1rem;
  padding-bottom: 3rem;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}